.MuiButton-containedSecondary{background:#757f8a !important; color: white !important;}
.MuiButton-containedPrimary{background: #00308f !important; color: white !important;}
.MuiButton-outlinedPrimary{color: #00308f !important; outline-color: #00308f !important; border-color: #00308f !important;}
.MuiButton-outlinedSecondary{color: #757f8a !important; outline-color: #757f8a !important; border-color: #757f8a !important;}
.MuiButton-textSecondary{color: #00308f !important;}
.MuiButton-textPrimary{ color: #00308f  !important;}
.MuiButton-textTertiary{  color: #757f8a !important;}